---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro"

const cookie:any = Astro.request.headers.get('cookie');

if(!cookie || !cookie.includes('accessToken') || !cookie.includes('refreshToken') || !cookie.includes('user')) {
  return Astro.redirect('/login', 302);
}

const accessToken = cookie.split(';').find((c: string) => c.includes('accessToken')).split('=')[1];
const refreshToken = cookie.split(';').find((c: string) => c.includes('refreshToken')).split('=')[1];
const user = cookie.split(';').find((c: string) => c.includes('user')).split('=')[1];

console.log(accessToken, refreshToken, user);

---

<Layout title="Home">
  <div class=" flex flex-col items-center justify-center h-screen">
    <h1 class="text-4xl font-bold text-gray-100">Welcome to the Home Page</h1>
    <div class="flex flex-wrap justify-center mt-10 gap-4">
      <Card title="Card 1" description="This is the first card" />
      <Card title="Card 2" description="This is the second card" />
      <Card title="Card 3" description="This is the third card" />
    </div>

  </div>
</Layout>