---
// Importa el componente de fondo que acabas de crear.
import Background from '../components/Background.astro';
import LoginCard from '../components/LoginCard.astro';
---

<html>
  <head>
    <!-- ... -->
  </head>
  <body>
    <Background>
      <LoginCard />
    </Background>
    <!-- El resto de tu contenido aquí -->
  </body>
</html>
