---
// Importa el componente de fondo que acabas de crear.
import Background from '../components/Background.astro';
import LoginCard from '../components/LoginCard.astro';

const cookie:any = Astro.request.headers.get('cookie');

// Si el usuario ya está autenticado, redirige a la página de inicio.
if (cookie && !cookie.includes('accessToken') || !cookie.includes('refreshToken'))
  return Astro.redirect('/login', 302);

---

<html>
  <head>
    <!-- Poner de título el nombre de tu aplicación -->
    <title>Smilbot</title>
    <!-- poner icono de tu aplicación -->
    <link rel="icon" href="/cat_icon_138789.png" type="image/x-icon" />
  </head>
  <body>

      <LoginCard/>
      <Background/>
    <!-- El resto de tu contenido aquí -->
  </body>
</html>
<style>
  body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }

</style>