---
// Importa el componente de fondo que acabas de crear.
import Background from '../components/Background.astro';
import LoginCard from '../components/LoginCard.astro';

// Si el usuario ya está autenticado, redirige a la página de inicio.
const cookie:any = Astro.request.headers.get('cookie');
console.log(cookie);
if (cookie) {
    if (!cookie.includes('accessToken') || !cookie.includes('refreshToken')) {
        console.log('redirecting to login');
        Astro.response.status = 302;
        Astro.response.headers.set('Location', '/login');
    }
} else {
//    do nothing?
}
---

<html>
  <head>
    <!-- Poner de título el nombre de tu aplicación -->
    <title>Smilbot</title>
    <!-- poner icono de tu aplicación -->
    <link rel="icon" href="/cat_icon_138789.png" type="image/x-icon" />
  </head>
  <body>

      <LoginCard/>
      <Background/>
    <!-- El resto de tu contenido aquí -->
  </body>
</html>
<style>
  body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }

</style>