---
// Tu lógica de componente aquí si es necesario
---

<div class="background">
    <!-- El slot aquí permite que puedas insertar cualquier contenido dentro del componente de fondo -->
    <video autoplay muted loop id="myVideo" src="/bg-animated.mkv">
    </video>
    <slot/>
</div>

<style>
    /* un background con una gradiente de un negro a naranja hacia abajo a la derecha
    (como si seria un atardecer y en esa esquina estuviera el sol)
    */
    .background {
        //background: radial-gradient(ellipse at bottom, rgb(36, 20, 8) 4%, #111 60%);
        background-image: url("/bg.png");
        background-repeat:no-repeat;
        background-position: bottom;
        background-size: cover;

        display: flex;
        justify-content: center;
        position: relative;

    }

    video{
        position: absolute;
        height: auto;
        width: 100vw;
        bottom: 0;
        pointer-events: none;


    }

    @media only screen and (max-aspect-ratio: 1920/1080) {
        video{
            width: auto;
            height: 100vh;
        }
    }


</style>
