---
import { Image } from 'astro:assets';
import cadImage from '../../public/cat.webp';
---

<>
    <div class="login-card">
        <div class="image-container">
            <Image src={cadImage} alt="a cute orange cat." class="profile-image" />
        </div>
        <h2 class="text">Welcome to Smilbot</h2>
        <!-- TODO: Añadir un elemento 'a' con href al endpoint /auth/discord del back  -->
        <button class="login-button"><a href="http://localhost:3000/auth/discord">Login with <img id="dc-logo" src="/discord-logo-white.svg" alt=""/></a></button>

        <!-- Background noise -->
        <div style="height: 0; width: 0; position: absolute; visibility: hidden;">
            <svg viewBox="0 0 200 200" xmlns='http://www.w3.org/2000/svg'>
                <filter id='noiseFilter'>
                    <feTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch' />
                </filter>
                <rect width='100%' height='100%' filter='url(#noiseFilter)' />
            </svg>
        </div>
    </div>
</>

<style>
    a {
        text-decoration: none;
        color: #fff;
        
        display: flex;
        align-content: center;
        place-content: center;
        justify-content: center;
        justify-items: center;
        align-items: center;
    }
    .login-card {
        place-self: center;
        justify-self: center;
        align-self: center;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 60vw;
        height: 100vh;
        min-width: 350px;
        max-width: 500px;
        box-shadow: 0 10px 50px rgba(0, 0, 0, 1), inset 0 0 5px rgba(0, 0, 0, 0.6);
        background-image: url('/noisy-texture-.png'), linear-gradient(0deg, #08090f, #171e27, #0f1720);;
        background-repeat: repeat;
        position: relative;
        overflow: hidden;
    }

    .image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        position: relative;
        width: 90%;
    }


    .image-container::before{
        content: '';
        position: absolute;
        top: 5.5%;
        width: 86%;
        height: 95.5%;
        background-color: transparent;
        box-shadow: rgba(0, 0, 0, 0.38) 1px 1px 3px 3px, inset rgba(255, 255, 255, 0.09) 0 0 2px 2px;
        border-radius: 50%;
        z-index: 0;
    }


    .profile-image {
        width: 85%;
        height: auto;
        position: relative;
        z-index: 1;
    }


    .text {
        margin-top: 20px;
        font-size: 1.5rem;
        font-family: "Montserrat ExtraBold", sans-serif;
        letter-spacing: 2px;
        font-weight: bold;
        color: #fff;
    }

    .login-button {
        margin-top: 20px;
        padding: 15px 20px;
        border-radius: 25px;
        width: 75%;
        background-color: #df7030;
        cursor: pointer;
        border: 1px solid rgba(232, 163, 123, 0.31);
        box-shadow: inset 5px 10px 15px rgba(255, 255, 255, 0.6), 0 0 15px rgba(0, 0, 0, 1), inset 0 -5px 20px rgba(0,0,0, .9);
        transition: background-color ease-in-out 0.1s, transform ease-in-out 0.4s, box-shadow ease-in-out 0.4s;

        font-size: 1rem;
        font-family: "Montserrat ExtraBold", sans-serif;
        letter-spacing: 1px;
        font-weight: bold;
        color: #fff;

        display: flex;
        align-content: center;
        place-content: center;
        justify-content: center;
        justify-items: center;
        align-items: center;
    }

    .login-button:hover, .login-button:focus {
        background-color: #fd9d42;
        transform: scale(1.05);
        box-shadow: inset 5px 10px 15px rgba(255, 255, 255, 0.6), 0 0 40px rgba(0, 0, 0, 1), inset 0 -5px 20px rgba(0,0,0, .9);
    }

    #dc-logo {
       height: 1.5rem;
        object-fit: contain;
        display: inline-block;
        margin-left: 10px;
    }


</style>