---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<link rel="icon" href="/cat_icon_138789.png" type="image/x-icon" />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	body {
		color-scheme: light dark;
		background: #2c2c2c;
	}
</style>
