---
import Header from '../components/Header.astro';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<Header title={title}></Header>
	<body>
		<slot />
	</body>
</html>

<style>
	body {
		color-scheme: light dark;
		background: #2c2c2c;
	}
</style>
